@{
    ViewBag.Title = "Locatie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="form-group">
    <label for="Locatie"> Naam:</label>
    <input name="Locatie" />
</div>

<div class="form-group">
    <label for="Locatie"> Gps longitude:</label>
    <input name="Gps-long" />
</div>

<div class="form-group">
    <label for="Locatie"> Gps latitude:</label>
    <input name="Gps-lat" />
</div>

<div class="form-group">
    <label for="Locatie"> L code:</label>
    <input name="code" />
</div>

<div class="form-group">
    <label for="Locatie"> Type:</label>
    <input name="Type" />
</div>

<div class="form-group">
    <label for="Locatie">Infrabel Locatie?:</label>
    <form action="">
  <input type="radio" name="infrabel" value="ja"> Ja<br>
  <input type="radio" name="infrabel" value="neen"> Neen<br>
 
</form>
</div>

