@model Eindwerk2018.ViewModels.SearchFoidViewModel

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkSearch;
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/content/simple-sidebar.css" rel="stylesheet">
}

<h2>Foid</h2>

@using (Html.BeginForm("SearchFoid", "SearchFoid"))
{
    <div class="form-group">
        @Html.TextBoxFor(l => l.SearchString, new { @class = "form-control", id = "FoidNameId" })
    </div>

    <button type="submit" class="btn btn-primary">@Eindwerk2018.Resources.Resource.LinkSearch</button>
    @*<button href="#menu-toggle" class="btn btn-primary" id="menu-toggle">@Eindwerk2018.Resources.Resource.LinkSearchOptions</button>*@
}
