
@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkSearch;
}

<h4>@Eindwerk2018.Resources.Resource.CompanyTitle</h4>

@using (Html.BeginForm("Search"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.TextBox("SearchString","", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">@Eindwerk2018.Resources.Resource.LinkSearch</button>
}
